.main-container {
    display: flex;
}

.sub-container {
    /* Prevents the element to compress in a specific resolution */
    min-width: max-content;
}

.btn {
    /* Prevents the element to compress in a specific resolution */
    min-width: max-content;
}

td, tr, table {
    min-width: 9rem;
    max-width: min-content;
}

h1 {
    font-size: large;
    text-align: center;
    padding: 0.5rem;
}